body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    background: rgb(24, 24, 24);
    color: white;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    padding: 30px;
    
    background: rgb(32, 32, 32);

    border-radius: 15px;

    min-width: 300px;

    display: flex;
    flex-direction: column;
}
